<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html  xmlns:th="http://www.thymeleaf.org/"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"   data-bs-theme="dark">
    
    <head th:replace="layout/layout :: head">

    </head>
    <body>
        <header  th:replace="layout/layout :: header">
            </header>

            <div class="container py-4">
                <div class="card bg-danger text-white">
                    <div class="card-header"> ERROR: ACCESO DENEGADO!!

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            los sentimos <span sec:authentication="name" />, no tienes permisos para acceder a este recurso.

                          

                        </h5>
                        
                        <a class="btn btn-outline-light" th:href="@{/}" role="button"> ir al inicio</a>



                    </div>

                </div>

            </div>
            asda
      
            <footer th:replace="layout/layout :: footer"> </footer>

    </body>
</html>